body {
	font-family: 'open sans', sans-serif;
}

h1 {
	text-align: center;
}

#container {
	background-color: darkslategray;
	width: 90%;
	/* height: 500px; */
	margin: 0 auto;
	border: 5px solid darkslategray;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#container div {
	width: 200px;
	height: 200px;
	text-align: center;
	flex-grow: 1;
}

/* div:nth-of-type(1) {
	flex-grow: 1;
} */
