body {
	font-family: 'open sans', sans-serif;
}

h1 {
	text-align: center;
}

#container {
	background-color: darkslategray;
	width: 90%;
	height: 500px;
	margin: 0 auto;
	border: 5px solid darkslategray;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#container div {
	width: 200px;
	height: 200px;
}
