img {
	width: 25%;
	margin: calc(25%/6);
	/* 25+25+25 = 75
    100 - 75 = 25
    25 / 6 = 4 */
}

nav {
	font-family: sofia, sans-serif;
	text-transform: uppercase;
	border-bottom: 2px solid #144552;
	width: 35%;
	margin-left: 4%;
	padding: 0.5em 0;
	font-size: 1.5em;
}
