* {
	color: blueviolet;
}

p {
	background-color: white;
}

h2,
button {
	color: red;
}

#login {
	background-color: #90e0ef;
}

.ingredient {
	background-color: teal;
	color: black;
	font-size: large;
}

ul li {
	color: #2a9d8f;
}

ol li {
	color: crimson;
}

input + button {
	background-color: black;
}

p + button {
	background-color: black;
}

div > span {
	color: chartreuse;
}

input[type="password"] {
	color: crimson;
}
