.circle {
	width: 200px;
	height: 200px;
	background-color: blueviolet;
	transition: background-color 1s, border-radius 1s;
}

.circle:hover {
	background-color: brown;
	border-radius: 50%;
}

section div {
	height: 100px;
	width: 100px;
	background-color: #e76f51;
	margin: 20px 0;
}

section:hover {
	margin-left: 500px;
	transition: margin-left 3s;
}
