h1 {
	background-color: #2d6a4f;
	border: 5px solid #081c15;
	color: antiquewhite;
	padding: 0.7em;
	width: 300px;
	font-size: 1.8em;
	text-align: center;
	margin: 20px auto;
	font-family: 'Courier New', Courier, monospace;
	font-weight: lighter;
}

section:first-of-type h1:nth-last-of-type(4) {
	transform: rotate(45deg);
}

section:first-of-type h1:nth-last-of-type(3) {
	transform: scale(0.5);
}

section:first-of-type h1:nth-last-of-type(2) {
	transform: translate(200px);
}
